*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

@media(max-width:775px)
{
  .icons{
    display: flex;

}
#check:checked~.icons #menu-icon
{
    display: none;
}
.icons #close-icon
{
    display: none;
}
#check:checked~.icons #close-icon
{
    display: block;
}
.navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* background-color: rgba(165, 42, 42, 0.664); */

    /* background-color: rgb(85, 26, 4); */
    /* background-color: saddlebrown; */
    background-image: linear-gradient(to bottom right, saddlebrown,white,rgba(139, 69, 19, 0.964),rgba(139, 69, 19, 0.948),white,saddlebrown);
    /* background-blend-mode: multiply; */
        
    /* background-color: rgb(60, 218, 213); */
    height: 0px;
    display: none;
}
.navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
}
#check:checked~.navbar{
    display: block;
    height: 20rem;
}
}